.index{
	display:-webkit-flex;
	-webkit-flex-direction:column;
	input::-webkit-input-placeholder{
		color:#DFDAE0;
	}
	input{
		color:white;
	}
	.header{
		width:100%;
		height:45px;
		background:#9F7893;
		position:relative;
		h2{
			font-size:18px;
			text-align:center;
			line-height:45px;
			color:white;
		}
		.back{
			position:absolute;
			top:0;
			width:45px;
			height:45px;
			line-height:45px;
			display:block;
			left:6px;
			color:#F0CEE5;
			background:url('../img/back.png') no-repeat left;
			padding-left:18px;
			background-size:28%;
			font-size:12px;
		}
	}
	.main{
		-webkit-flex-grow:1;
		background:#6A5471;
		padding:15px;
		.top{
			width:100%;
			height:245px;
			background:#87718A;
			padding:13px;
			input{
				width:100%;
				height:45px;
				background:#BAADBC;
				border:none;
				outline:none;
				margin-bottom:15px;
				font-size:14px;
				padding-left:15px;
				&.email{
					margin-top:15px;
				}
			}
			p{
				text-align:center;
				color:white;
				line-height:20px;
				height:20px;
				//font-size:10px;
			}
			.submit{
				width:100%;
				height:45px;
				background:#DBA759;
				line-height:45px;
				text-align:center;
				color:white;
				font-size:14px;
				font-weight:bold;
			}
		}
		
		.middle{
			height:50px;
			line-height:50px;
			text-align:center;
			color:#846F89;
			font-size:10px;
		}
		.fackbook{
			background:#896B8E;
			height:45px;
			text-align:center;
			color:white;
			vertical-align:middle;
			p{
				font-weight:bold;
				font-size:14px;
				height:45px;
				line-height:45px;
			}
		}
		.bottom{
			height:50px;
			line-height:50px;
			text-align:center;
			color:#846F89;
			font-size:10px;
			position:absolute;
			bottom:0;
			width:100%;
		}
	}
}
@media screen and (max-width:320px){
	.index{
		.top{
			p{
				font-size:8px;
			}
		}
	}
	
}
@media screen and (min-width:374px){
	.index{
		.top{
			p{
				font-size:10px;
			}
		}
	}
}