.map{
	display:-webkit-flex;
	-webkit-flex-direction:column;
	.header{
		height:45px;
		width:100%;
		background:#9F7893;
		position:relative;
		line-height:45px;
		h1{
			text-align:center;
			color:#fff;
			font-size:16px;
		}
		.back{
			position:absolute;
			top:0;
			width:45px;
			height:45px;
			line-height:45px;
			display:block;
			left:0.6rem;
			color:#F0CEE5;
			background:url('../img/back.png') no-repeat left;
			padding-left:20px;
			background-size:18px;
			font-size:14px;
			text-decoration:none;
		}
		h2{
			display:inline-block;
			width:35px;
			height:25px;
			background:url('../img/shop.png') no-repeat;
			background-size:contain;
			position:absolute;
			top:50%;
			margin-top:-15px;
			right:1rem;
		}
		span{
			width:18px;
			height:18px;
			background:#DBA759;
			display:block;
			line-height:18px;
			text-align:center;
			border-radius:100%;
			position:absolute;
			top:50%;
			margin-top:-15px;
			right:1.1rem;
			color:#fff;
			font-size:14px;
		}
	}
	.article{
		width:100%;
		-webkit-flex-grow:1;
		display:-webkit-flex;
		-webkit-flex-direction:column;
		height:0;
	}
	.section{
		width:100%;
		height:230px;
		background:url(../img/manp.png) no-repeat;
		background-size:100% 100%;
	}
	.section-1{
		width:100%;
		-webkit-flex-grow:1;
		background:#87718A;
		overflow-y:auto;
		.section-p1{
			border-bottom:1px solid #78627E;
			height:70px;
			width:100%;
			line-height:65px;
			color:#fff;
			padding-left:20px;
			font-size:24px;
		}
		.section-p2{
			border-bottom:1px solid #78627E;
			height:85px;
			width:100%;
			color:#fff;
			padding-left:20px;
			.b1{
				font-size:12px;
				font-weight:normal;
				line-height:40px;
				hieght:40px;
				color:#B7A2BD;
			}
			.b2{
				font-size:14px;
				font-weight:normal;
			}
			
		}
		.section-p3{
			border-bottom:1px solid #78627E;
			height:85px;
			width:100%;
			color:#fff;
			padding-left:20px;
			.b1{
				font-size:1rem;
				font-weight:normal;
				line-height:30px;
				hieght:30px;
				color:#B7A2BD;
			}
			.b2{
				font-size:14px;
				font-weight:normal;
			}
			.b3{
				font-size:14px;
				font-weight:normal;
			}
		}
		.section-p4{
			height:85px;
			width:100%;
			color:#fff;
			padding-left:20px;
			padding-top:28px;
			.b1{
				font-size:14px;
				font-weight:normal;
				line-height:18px;
			}
			
		}
	}

	.footer{
		height:55px;
		width:100%;
		background:#6A5471;
		padding:10px;
		P{
			width:100%;
			height:100%;
			background:#DBA759;
			color:#fff;
			line-height:35px;
			text-align:center;
			font-size:1.2rem;
			font-weight:bold;
		}
	}
}
