.product-name{
	overflow-y:auto;
	.header{
		width:100%;
		height:45px;
		position:fixed;
		top:0;
		left:0;
		background:#9F7893;
		line-height:45px;
		padding-left:5%;
		padding-right:5%;
		.back{
			position:absolute;
			top:0;
			width:45px;
			height:45px;
			line-height:45px;
			display:block;
			left:6px;
			color:#F0CEE5;
			background:url('../img/back.png') no-repeat left;
			padding-left:18px;
			background-size:28%;
			font-size:12px;
		}
		h1{
			font-size:18px;
			color:#fff;
			text-align:center;
		}
		h3{
			font-size:10px;
			color:#F3D1E8;
			position:absolute;
			right:10px;
			top:0;
			span{
				float:right;
				width:17px;
				height:17px;
				line-height:17px;
				text-align:center;
				color:#fff;
				font-size:10px;
				font-weight:bold;
				background:#DBA759;
				margin-top:13px;
				margin-left:10px;
			}
		}
	}
	.section{
		width:100%;
		height:auto;
		padding-top:45px;
	}
	.product{
		width:100%;
		height:75px;
		padding-left:5%;
		padding-right:5%;
		background:url('../img/purple.png');
	}
	.name{
		width:100%;
		height:45px;
		h1{
			font-size:22px;
			color:#fff;
			padding-top:14px;
			padding-bottom:9px;
		}
	}
	.small{
		width:100%;
		height:29px;
		ol{
			float:left;
			margin-right:11px;
			li{
				float:left;			
				width:16px;
				height:16px;
				margin-right:2px;
				color:#ccc;
				font-size: 16px;
				&.yellow{
					color:#E69C2D;
				}
			}
		}
		.num{
			font-size:10px;
			color:#fff;
			float:left;
			padding-top:1px;
		}
		.money{
			font-size:12px;
			color:#fff;
			float:right;
			padding-top:1px;
		}
	}
	.river{
		width:100%;
		height:235px;
		img{
			width:100%;
			height:100%;
		}
		
	}
	.bigbox{
		width:100%;
		height:100%;
		background:#6A5471;
		.there{
			float:left;
			width:100%;
			height:44px;
			margin-top:15px;
			margin-bottom:15px;
			display:-webkit-flex;
			padding-left:5%;
			padding-right:5%;
			li{
				-webkit-flex-grow:1;
				&:nth-of-type(1){
					background:#9C7AA0;
					span{
						width:18px;
						height:14px;
						margin-top:15px;
						margin-left:40%;
						display:block;
						color:#fff;
					}
					.on{
						color:red;
						width:18px;
						height:14px;
						margin-top:15px;
						margin-left:40%;
						display:block;
						}
				}
				&:nth-of-type(2){
					background:#9C7AA0;
					margin-left:10px;
					margin-right:10px;
					line-height:44px;
					text-align:center;
					color:#fff;
					font-weight:bold;
				}
				&:nth-of-type(3){
					background:#DBA759;
					line-height:44px;
					text-align:center;
					color:#fff;
					font-weight:bold;
				}
			}
		}
	}
	.article{
		width:100%;
		height:114px;
		clear:both;
		padding-left:5%;
		padding-right:5%;
		p{
			font-size:13px;
			color:#BBB1BE;
			line-height:17px;
		}
	}
	.slidedown{
		width:100%;
		height:55px;
		background:#6A5471;
		border-top:1px solid #836788;
		h2{
			font-size:10px;
			color:#fff;
			float:left;
			padding-top:20px;
			padding-bottom:20px;
			padding-left:5%;
		}
		span{
				content:"";
				width:9px;
				height:9px;
				display:block;
				border-top:1px solid #F3D1E8;
				border-left:1px solid #F3D1E8;
				-webkit-transform:rotate(46deg);
				margin-top:25px;
				float:right;
				margin-right:5%;
			}
			.add{
				content:"";
				width:9px;
				height:9px;
				display:block;
				border-top:1px solid #F3D1E8;
				border-left:1px solid #F3D1E8;
				-webkit-transform:rotate(-135deg);
				margin-top:20px;
				float:right;
			}
			
	}
	.slide{
			float:left;		
			display:none;
			width:100%;
			padding-left:5%;
			padding-right:5%;
			background:#6A5471;
				p{
					font-size:13px;
					color:#BBB1BE;
					line-height:17px;
					padding:10px 0;
				}

			}
	.bottom{
		width:100%;
		//height:auto;
		float:left;
		li{
			display:-webkit-flex;
			padding-left:5%;
			padding-right:5%;
			&:nth-of-type(1){
				height:46px;
				border-bottom:1px solid #836788;
				border-top:1px solid #836788;
				font-size:10px;
				color:#fff;
				font-weight:bolder;
				line-height:46px;
				background:#6A5471;
			}
			&:nth-of-type(2){
				span{
					-webkit-flex-grow:1;
					&:nth-of-type(2){
						border-left:1px solid #836788;
						padding-left:10px;
					}
				}			
				font-size:10px;
				color:#B49EBA;
				height:36px;
				background:#40314E;
				border-bottom:1px solid #836788;
				line-height:36px;
				font-weight:bold;
			}
			

			&:nth-of-type(3){
				span{
					width:50%;
					
					&:nth-of-type(1){
						line-height:61px;
					}
					&:nth-of-type(2){
						padding-top:18px;
						padding-left:10px;
					}
				}			
				font-size:10px;
				color:#B49EBA;
				height:61px;
				border-bottom:1px solid #836788;
				font-weight:bold;
				background:#6A5471;
			}

			&:nth-of-type(4){
				span{
					width:50%;
					&:nth-of-type(1){
						line-height:61px;
					}
					&:nth-of-type(2){
						border-left:1px solid #836788;
						padding-top:10px;
						padding-left:10px;
					}
				}			
				font-size:10px;
				color:#B49EBA;
				height:61px;
				border-bottom:1px solid #836788;
				font-weight:bold;
				background:#40314E;
			}
			&:nth-of-type(5){
				width:100%;
				height:48px;
				span{
					-webkit-flex-grow:1;
					&:nth-of-type(2){
						padding-left:10px;
					}
				}
				font-size:10px;
				color:#B49EBA;
				border-bottom:1px solid #836788;
				line-height:48px;
				font-weight:bold;
				background:#6A5471;
			}
			&:nth-of-type(6){
				span{
					width:50%;
					line-height:36px;
					&:nth-of-type(2){
						padding-left:10px;
					}
				}			
				font-size:10px;
				color:#B49EBA;
				height:36px;
				border-bottom:1px solid #836788;
				font-weight:bold;
				background:#40314E;
			}
		}
	}
}